.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body_info img{
    width: 300px;
    box-shadow:  0px 4px 60px rgba(0, 0, 0,0.5);
    margin-right: 50px;
}
.info_text{
    flex: 1;
}
.info_text strong{
    font-size: 30px;

}
.info_text h2{
    margin-top: 13px;
    font-weight: 300;
}
.info_text p{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
